/** FLASH SCREEN **/
body {position:relative;font-family: 'Roboto', sans-serif;}
html, body {height: 100%;max-height: 100%;margin:0px;padding:0px;}
a:hover { text-decoration: none };
.flash-container {display: flex;}
.flex-box {display: flex;margin: auto;flex-wrap: wrap; width: 100%; justify-content: center;}
.wel {text-align:center;}
.heading-section {float:left;width:100%;}
.welcome-section h3 {text-align:center;color:#8b8b8b;font-size:48px;margin:0px;line-height:48px;}
.welcome-section h3 .txt {position:relative;margin-bottom:60px;padding-bottom:60px;font-family: 'Roboto', sans-serif;font-weight:500;}
.welcome-section h3 .txt:after{position:absolute;content:"";left:0px;height:9px;background-color:#09a7f8;width:100%;bottom:20px;}
.logo-section {float:left;width:100%;overflow: hidden;}
.logo-row {position:relative;text-align:center; margin-left: 15px; margin-right: 15px;}
.logo-row img { max-width: 100%; width: 300px; }
.pinkBg {background-color: #77cefb ;background-image: linear-gradient(90deg, #77cefb, #77cefb ) ; display: inline-block ; border-radius: 100%; }
.tsi-logo{ width: 100%; position:absolute;top:50%;left:50%;text-align:center;border-radius:100%;z-index:1; transform: translate(-50%, -50%); }
.tsi-logo img {background-repeat:no-repeat;background-size:cover;position:relative;}
.tsi-logo-box:not(.no-animation) { min-height: 175px; margin-bottom: 40px; }
.tsi-logo .ripple{ width: 100%; position:absolute ;z-index:-1 	;left:50%;top:50%;opacity:1;border-radius:100%;-webkit-animation:ripple 1.8s infinite; animation: ripple 1.8s infinite ; padding-top: 100%; max-width: 100%; }
.tsi-logo img { max-width: 100px; width: 100%; vertical-align: middle; }
.ts-logo-text { max-width: 200px; margin: 0 auto 25px; }
.header-bg, .footer-bg { width: 100%; }
.header-bg img, .footer-bg img { max-width: 100%; vertical-align: bottom; }
.footerfix .footer-bg { position: fixed; bottom: 0; left: 0; }
.footerfix .flashlogotext { display: flex; align-items: center; flex-wrap: wrap; height:auto;}
.footerfix .tsi-logo-box { align-self: flex-end; width: 100%; }
.logo-row.tsi-logo-box span.pinkBg:not(:first-child) {display:none;}
/** ANIMATION EFFECTS  **/
@-webkit-keyframes ripple{
	0%{ opacity:1;-webkit-transform: translate(-50%, -50%) scale(0);-ms-transform: translate(-50%, -50%) scale(0);transform: translate(-50%, -50%) scale(0);}
    100%{opacity:0;-webkit-transform: translate(-50%, -50%) scale(1);-ms-transform: translate(-50%, -50%) scale(1);transform: translate(-50%, -50%) scale(1);}
}
@keyframes ripple{
    100%{opacity:1;-webkit-transform: translate(-50%, -50%) scale(0);-ms-transform: translate(-50%, -50%) scale(0);transform: translate(-50%, -50%) scale(0);}
    100%{opacity:0;-webkit-transform: translate(-50%, -50%) scale(1);-ms-transform: translate(-50%, -50%) scale(1);transform: translate(-50%, -50%) scale(1);}
}
.tsi-logo .ripple:nth-child(2){ animation-delay:.3s;-webkit-animation-delay:.3s}
.tsi-logo .ripple:nth-child(3){ animation-delay:.6s;-webkit-animation-delay:.6s}

/** HOME SCREEN **/
.logo-row.no-animation {padding:0px;margin:0px;}
.logo-row.no-animation .tsi-logo{padding:100px 0px;margin:0px;position:static;}
.logo-row.no-animation img {float:none;margin-bottom:30px;}
.full-content-section {display:block;max-width:100%;width:100%;float:left;text-align:center;font-size:15px;line-height:26px;color:#8b8b8b;font-family: 'Roboto', sans-serif;font-weight:400;}
.full-content-section img{max-width:150px;}
.content-section {display:inline-block;max-width:600px;width:100%;padding:20px;text-align:center;font-size:15px;line-height:26px;color:#8b8b8b;font-family: 'Roboto', sans-serif;font-weight:400;}
.content-section p {margin-bottom:0px;}
.home .content-section p { margin-bottom: 15px; }
.home .content-section p:last-child { margin-bottom:0px; }
.engaging-section {float:left;width:100%;}
.engaging-section h3{font-size:32px;color:#3c3c3c;text-decoration:none;line-height:32px;font-weight:400;}
.targe-link, .targe-link:hover {color:#77cefb;}
/*.engaging-section .links {margin:30px auto; float:none;width:100%; max-width: 250px; color: #09a7f8; }*/
.engaging-section .links {margin:30px auto; float:none;width:100%; max-width: 260px; color: #09a7f8; }
/*.engaging-section .links a {width:100%;text-align:left;color:#09a7f8;font-size:15px;line-height: 26px; margin:5px 0px; font-family: 'Roboto', sans-serif;font-weight:400;}*/
.engaging-section .links a {width:100%;text-align:left;color:#09a7f8;font-size:18px;line-height: 30px; margin:5px 0px; font-family: 'Roboto', sans-serif;font-weight:400;}
.engaging-section .links a:hover { text-decoration: none; }
.engaging-section .links { text-align: left; }

/** MENU SECTION **/
.menu-section {display: flex; position: fixed; height: 100%; width: 100%; border-top-left-radius: 30px; border-top-right-radius: 30px; /* background-color: #09a7f8; */ z-index: 1; left: 0; overflow-y: hidden; transition: 0.5s; top: calc(100% - 67px); }
.menu-section.open {background-color: #09a7f8;  top:0 !important;left:0px; width:100%;height:100%;border-radius:0px;}
.bottom-menu-items {padding:0px;margin:0px;float: left;width: 100%;}
.bottom-menu-items li {list-style:none;margin:0px;padding:5% 2%;float:left;width:100%;text-align:center; opacity: 0; width: 100%;}
.menu-section.open .bottom-menu-items.iphone-evenpadding li{max-width:130px;width:130px;display: inline-block; padding-left: 0; padding-right: 0;text-align: center;}
.menu-section.open .bottom-menu-items.iphone-evenpadding li .menu-contain .txt{width:100%;text-align:center;}
.menu-section.open .bottom-menu-items.ipad-evenpadding li{max-width: 180px;width: 180px;display: inline-block; padding-left: 0; padding-right: 0;text-align: center;}
.menu-section.open .bottom-menu-items.ipad-evenpadding li .menu-contain .txt{width:100%;text-align:center;}
.bottom-menu-items li img ,
.bottom-menu-items li span { display:inline-block;text-align:center;color:#FFF;font-family: 'Roboto', sans-serif;font-weight:700;} 
.bottom-menu-items li span {font-size:11px;margin:5px 0px;font-family: 'Roboto', sans-serif;font-weight:700;}
.bottom-menu-items li .menu-icon { padding: 30%; background-color:#bae6fd;margin:0px auto;border-radius:100%; position: relative ;     border: #bae6fd; margin-right: 20px;}
.menu-toggle .menu-icon {width:50px;height:50px;background-color:#ffffff;margin:0px auto;border-radius:100%;}
.menu-toggle {width:100%;text-align:center; z-index: 2;}
.menu-toggle span {margin-top:10px;display:inline-block; font-size:11px;margin:5px 0px;font-family: 'Roboto', sans-serif; }
.menu-toggle .menu-icon{border:2px solid #000; z-index: 2;
	position: relative;}
.menu-toggle.open .contact-txt { display: none; }
/* Common utility */
.d-flex { display: -webkit-box;display: -ms-flexbox;display: flex; }


/* Menu */
.flex-menu::-webkit-scrollbar {display: none; } 
.flex-menu {overflow:scroll; overflow: -moz-scrollbars-none; -ms-overflow-style: none;}
.flex-menu {/*display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;*/margin:0 auto; /*-webkit-box-align: center; -ms-flex-align: center; align-items: center;*/}
.menu-toggle {	position: fixed; bottom: 0; padding-bottom: 15px; left: 0; right: 0; }
.menu-icons { width: 22px; height: 22px; position: relative ; margin: auto; -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: .5s ease-in-out; -moz-transition: .5s ease-in-out; -o-transition: .5s ease-in-out; transition: .5s ease-in-out; cursor: pointer; z-index: 2 ; }
.menu-icons span { display: block; position: absolute; height: 3px; width: 100%; background: #000000; border-radius: 5px; opacity: 1; left: 0; -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: .25s ease-in-out; -moz-transition: .25s ease-in-out; -o-transition: .25s ease-in-out; transition: .25s ease-in-out; }
.menu-icons span:nth-child(1) { top: 3px; margin-bottom: 0; margin-top: 0; }
.menu-icons span:nth-child(2),.menu-icons span:nth-child(3) { top: 10px; margin-bottom: 0; margin-top: 0; }
.menu-icons span:nth-child(4) { top: 17px; margin-bottom: 0; margin-top: 0; }
.menu-icons.open span:nth-child(1) { top: 18px; width: 0%; left: 50%; }
.menu-icons.open span:nth-child(2) { -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }
.menu-icons.open span:nth-child(3) { -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); }
.menu-icons.open span:nth-child(4) { top: 18px; width: 0%; left: 50%; }

.menu-toggle::before { content: ''; height: 33px; background-color: #ffffff; width: 100%; }

.menu-toggle::before {
    content: '';
    height: 100%;
    background-color: #09a7f8;
    width: 100%;
    left: 0;
    position: absolute;
    border-radius: 25px 25px 0 0;
    z-index: -2;
    top: 25px;
}

.menu-section .flex-menu { opacity: 0; }
.menu-section.open .flex-menu { opacity: 1; }
.menu-toggle .menu-txt { color: #ffffff; font-weight: 400; letter-spacing: 0.5px; position: relative; z-index: 2; }
.contact-txt { position: absolute; right: 25px; text-transform: uppercase; color: #fff; border-bottom: 1px solid; font-weight: 400; letter-spacing: 0.5px; }
.contact-txt a { color: #ffffff; }
.contact-txt a:hover { text-decoration: none; color: #ffffff; }
/* css */
.bottom-menu-items { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.menu-section.open ul>li:nth-of-type(2) { -webkit-animation-delay: .3s; animation-delay: .3s; margin-right: 20px; }
.menu-section.open ul>li:nth-of-type(3) { -webkit-animation-delay: .4s; animation-delay: .4s; margin-right: 20px; }
.menu-section.open ul>li:nth-of-type(4) { -webkit-animation-delay: .5s; animation-delay: .5s; margin-right: 20px; }
.menu-section.open ul>li:nth-of-type(5) { -webkit-animation-delay: .5s; animation-delay: .6s; margin-right: 20px; }
.menu-section.open ul>li:nth-of-type(6) { -webkit-animation-delay: .5s; animation-delay: .7s; margin-right: 20px; }
.menu-section.open ul>li:nth-of-type(7) { -webkit-animation-delay: .5s; animation-delay: .8s; margin-right: 20px; }
.menu-section.open ul>li:nth-of-type(8) { -webkit-animation-delay: .5s; animation-delay: .9s; margin-right: 20px; }
.menu-section.open ul>li {-webkit-animation: fadeInUp .8s ease forwards; animation: fadeInUp .8s ease forwards; -webkit-animation-delay: .2s; animation-delay: .2s; }
@-webkit-keyframes fadeInUp {
  0% { opacity: 0; -webkit-transform: translateY(100%); -ms-transform: translateY(100%); transform: translateY(100%); }
  100% { opacity: 1; -webkit-transform: translateY(0%); -ms-transform: translateY(0%); transform: translateY(0%); }
}
@keyframes fadeInUp {
  0% { opacity: 0; -webkit-transform: translateY(100%); -ms-transform: translateY(100%); transform: translateY(100%); }
  100% { opacity: 1; -webkit-transform: translateY(0%); -ms-transform: translateY(0%); transform: translateY(0%); }
}
.bottom-menu-items li img {position: absolute; top: 0; left: 0; right: 0; bottom: 0; max-width: 50%; margin: auto;}
.bottom-menu-items li:first-child img { max-width: 55%; padding-top: 12%; }
.bottom-menu-items li:nth-child(2) img { max-width: 60%; }
.bottom-menu-items li:nth-child(3) img { max-width: 52%; padding-left: 6%; }
.bottom-menu-items li:last-child img { max-width: 50%; }
.menu-contain {display: block; max-width: 50px;/* max-width: 65%; */ margin: auto;}

/* Home page */
.home .flash-container {background-image: url('../images/homebackground.jpg'); background-size: cover; background-attachment: fixed; background-repeat: no-repeat; background-position: center top; }
.home .flash-container { padding-bottom: 100px; padding-top: 50px; }

/* Web */
.bcshadow{ padding: 20px 10px; box-shadow: 7px 7px 10px 0px rgba(0, 0, 0, .1); margin: 20px; border-radius: 20px; background-color: #ffffff; }
.app-header-section {padding: 10px 15px; flex-basis: 100%; background-color: #f5fafb; }
.app-logo img { max-width: 100%; }
.app-logo { max-width: 45px; }
.app-header-section .app-title { font-size: 13px; font-weight: 700; text-transform: uppercase; font-family: 'Roboto', sans-serif; font-weight: 700; }
.app-page { max-width: 100%; margin-left: auto; margin-right: auto; background-color: #f8f8f8; }
.blue-txt { color: #09a7f8; }
.btn-outline-primary { border-color: #09a7f8; }
.download-btn a { background-color: #ffffff; font-size: 9px; font-weight: 700; border-radius: 0.35rem; padding-left: 10px; padding-right: 10px; }
.download-btn a:hover, .download-btn a:focus, .download-btn a:active { background-color: #09a7f8 !important; border-color: #09a7f8 !important; }

/* .backsbutton{ background-color: white;  border-color: white ; text-decoration: none; color: #ffffff; } */
.download-btn i { margin-right: 6px; font-size: 20px; }
.download-btn i.fa-download{  margin-right: 0; color:#09a7f8; }
.download-btn .fa-download:hover{ margin-right: 0; color:#fff; }
.download-btn a { line-height: normal; border: 1px solid #09a7f8; }

.download-btn  i.fa-download{ margin-right: 0; color:#09a7f8; font-size: 20px;}
	.download-btn:hover .fa-download{ margin-right: 0; color:#fff; font-size: 20px;}
	
	.download-btn a:hover { background-color: #09a7f8;  border-color: #09a7f8 ; text-decoration: none; color: #ffffff; }
.download-btn:hover { background-color: #ffffff; border-color: #09a7f8; }
.website-logo img { max-width: 100%; margin:0 auto;}
.website-logo { max-width: 110px; margin: 0 auto 1rem; }
.website-list { padding: 20px 10px; box-shadow: 7px 7px 10px 0px rgba(0, 0, 0, .1); margin: 20px; border-radius: 20px; background-color: #ffffff; }
.app-page .content-section { padding: 0px 0px 120px 0px; max-width: 768px; background-color: #f8f8f8; }
.view-btn button { font-family: 'Roboto', sans-serif; font-weight: 400; text-align: left; border-radius: 6px; text-transform: uppercase; background-color: #09a7f8; border-color:  #09a7f8 ;  background-image: url('../images/arrow.svg'); background-repeat: no-repeat; background-position: center right 10px; background-size: 15px; padding: 8px 10px; width: 120px; font-size: 9px; -webkit-transition: 0.3s ease;-o-transition: 0.3s ease;transition: 0.3s ease; }
.view-btn button.sent-contact-btn{ width: 85px; font-size: 13px;background-position: center right 10px;background-size: 18px;}
.view-btn button:hover { background-position: center right 5px; background-color: #09a7f8; border-color: #09a7f8; }
.view-btn button:active, .view-btn button:focus { background-color: #09a7f8 !important; border-color: #09a7f8 !important; }
.app-page .content-section .view-btn button:first-child { border-radius: 6px; color: white;}
.content-section .view-btn button:last-child { border-radius: 6px; margin-left: 5px; color: white;}
.content-section .view-btn button:first-child { margin-right: 5px; }
.slick-dots { display: flex !important;  justify-content: center; margin: 0; padding: 1rem 0 0; list-style-type: none; }
.slick-dots	li { margin: 0 0.1rem; }
.slick-dots	button {display: block;  width: 0.5rem; height: 0.5rem; padding: 0; border: none; border-radius: 100%; background-color: #c3ced4; text-indent: -9999px;}
.slick-dots	li.slick-active button {background-color: #09a7f8; outline: none;}
.website-listing { max-width: 320px; margin: auto; }
/*26092019*/
.web.app-page .overlapdiv{position: absolute;top: 0;left: -300%; margin: 0 auto;width: 100%;height: 100%;background-color: #fff;
-webkit-transition: 1s;
  transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
}
.web.app-page .overlapdiv.showfromleft{
	left:0;
	-webkit-transition: 0.5s;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
}
/* .web.app-page .overlapdiv img{width: 100%;} */
/* float: left; */
.div-posstion-relative{position:relative;}
.web.app-page .overlaploader {display:none;position: absolute;width: 100%;height: 100%;left: 0;top: 0;right: 0;margin: 0 auto;background-color: #00000061;}
.web.app-page .overlaploader div{display: flex;align-items: center;justify-content: center;width: 100%;height: 100%;}
.web.app-page .overlaploader img{width:108px;}
.div-posstion-relative.divmaxwith{max-width:100% !important;}
.pagebackbtn a{max-width:98px;float:right;}
.pagebackbtn{display:none;}
/* App */
.view-btn1{
	width: 65%;
    display: inline-flex;
}
.bcshadow1{ padding: 25px 20px; box-shadow: 7px 7px 10px 0px rgba(0, 0, 0, .1); margin: 20px; border-radius: 20px; background-color: #ffffff; }
.app .view-btn1 a { width: 120px; border-radius: 6px; background-image: url('../images/arrow.svg'); background-repeat: no-repeat; background-position: center right 10px; background-size: 15px; padding: 8px 10px; -webkit-transition: 0.3s ease;-o-transition: 0.3s ease;transition: 0.3s ease; }
.app .view-btn1 a:first-child { margin-right: 5px; border-radius: 6px; background-color: #231f20; border-color: #231f20; }
.app .view-btn1 a:last-child { margin-left: 5px; border-radius: 6px; background-color: #020202; border-color: #020202; }
.app.app-page .view-btn a:first-child { border-radius: 6px; }
.app .view-btn1 a img { max-width: 65%; }
.app .view-btn1 a { padding: 3px 5px; }
.app .website-logo { margin: 0 auto 1.7rem; }
.app .website-list { padding-top: 25px; }

/* Case Studies */
.case-studies .app-title { margin-left: 15px; font-size: 18px; line-height: normal; }
.case-studies .view-btn svg { width: 15px; margin-right: 13px; fill: #ffffff; }
.case-studies .view-btn { margin-top: 25px; }
.case-studies .view-btn a { min-width: 165px; letter-spacing: 0.5px; text-transform: uppercase; font-family: 'Roboto', sans-serif; font-weight:500; border-radius: 9px; padding: 9px 23px; text-align: right; font-size: 11px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background-color: #09a7f8; border-color: #09a7f8; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
.case-study-title { color: #5e5e5e; font-family: 'Roboto', sans-serif; font-weight:500; font-size: 18px; letter-spacing: 0.5px; }
.case-studies .view-btn a:hover, .case-studies .view-btn a:focus, .case-studies .view-btn a:active { background-color: #ffffff !important; border: 1px solid #09a7f8 !important; color: #09a7f8 !important; } 
.case-studies .view-btn a:hover svg, .case-studies .view-btn a:focus svg, .case-studies .view-btn a:active svg { fill: #09a7f8; }
.case-studies-section { max-width: 480px; margin: auto; }
/* Contact */
.form-control {
    /* display: block; */
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    /* background-clip: padding-box; */
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,
	box-shadow .15s ease-in-out;}
	.form-control:focus{
		border: 1px solid #09a7f8;
	}
	.form-control {
		outline: none;
	}
.contact .app-header-section { background-color: #09a7f8; color: white; flex-direction: column; align-items: center;}
.contact .app-logo { max-width: 100px; width: 100%;}
.contact .app-header-section .app-title { font-size: 20px; letter-spacing: 0.5px; margin-top: 20px; }
.contact .app-header-section { padding: 40px 20px 30px; }
.contact .flex-box { width: 100% ; }
.contact-btn { transition: 0.2s ease-in; background-color: #09a7f8; border-color: #09a7f8; width: 55px; border-radius: 100%; height: 55px; padding: 11px; }
.contact-btn svg { fill: #ffffff; transition: 0.2s ease-in; }
.contact-btn:hover { background-color: #ffffff; border: 2px solid #09a7f8; }
.contact-btn:hover svg { fill: #09a7f8; }
.contact .form-group { margin-top: 1rem; }
.form-control {  font-family: 'Roboto', sans-serif; font-weight: 900;   font-size: 13px; width: 100%; border-radius: 5px; margin-bottom:10px;}
.textarea.form-control { resize: none; }
.form-control:focus { box-shadow: none; border-color: #09a7f8; }
.form-control:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #09a7f8;
}
.form-control:focus::-moz-placeholder { /* Firefox 19+ */
  color: #09a7f8;
}
.form-control:focus:-ms-input-placeholder { /* IE 10+ */
  color: #09a7f8;
}
.form-control:focus:-moz-placeholder { /* Firefox 18- */
  color: #09a7f8;
}
.titlecolor{color:#09a7f8;}
.content-section .error { color: red; font-size: 13px; text-align: left; display: block; line-height: normal; margin-top: 5px; margin-left: 2px; }

/* Thank you */
.success-msg { font-size: 18px; color: #22ce22; margin-top: 40px; text-align: center; }
.contact .content-section { margin: auto; }
.contact.app-page { max-width: 100%; }
.contact-back-button{position: absolute;left: 20px;top: 20px;}
.contact-back-button i{color:#fff;}

/*Caststudy 25092019*/
ul.caststudy-ul{padding:0;list-style:none;margin:0;}
ul.caststudy-ul li{margin-top:12px;}

/*logo*/
.logo-box{width: auto;display: flex;justify-content: center;align-items: center;text-align: center;margin: 0 auto;}
.logo-box .app-logo{ float:left; margin-right:10px}
.logo-box .app-title{ float:left;}
button.cus-backbtn{padding:0; border-radius: 100%; text-align: center;margin: 0;border:0; background-color:transparent;}
.download-btn button.cus-backbtn i{font-size:20px; border: "none";  outline:"none"}
button.cus-backbtn:focus{ outline: none; }

@media screen and (orientation:portrait) {
	.bottom-menu-items { -webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column; -webkit-box-align: center;-ms-flex-align: center;align-items: center;}
	.bottom-menu-items li span { white-space: nowrap; }
	.menu-section.open .flex-menu {overflow-y:auto;overflow-x:hidden;width:100%;-webkit-overflow-scrolling: touch;}
	.menu-section.open .flex-menu .bottom-menu-items li{padding:2.2% 2%;}
	
	.bottom-menu-items li span.txt{width:100%;}
}
@media screen and (orientation:landscape) { .bottom-menu-items { -webkit-box-orient: horizontal;-webkit-box-direction: normal;-ms-flex-direction: row;flex-direction: row; -webkit-box-align: normal;-ms-flex-align: normal;align-items: normal;} .menu-section.open .flex-menu {overflow-x: auto;overflow-y: hidden;} }
@media screen and (min-width: 360px) {
	.menu-contain { max-width: 75px; }
}
@media screen and (min-width: 375px) {
	.tsi-logo .ripple { padding-top: 80%; max-width: 80%; }
  .menu-section { top: calc(100% - 74px); }
	.menu-contain { /* max-width: 120px; */max-width: 90px;  margin: auto; }
	.menu-toggle .menu-icon {width:65px;height:65px; z-index: 2;
		position: relative !important;}
	.menu-icons span { height: 4px; }
	.menu-icons { width: 30px; }
	.menu-icons span:nth-child(1) { top: 0px; margin-top: 0 }
	.menu-icons span:nth-child(2),.menu-icons span:nth-child(3) { top: 9px; margin-top: 0 }
	.menu-icons span:nth-child(4) { top: 18px; margin-top: 0 }
	.bottom-menu-items li span {font-size:12px;}

	.app-header-section .app-title { font-size: 16px; }
	.app-logo { max-width: 60px; }
	.download-btn a { font-size: 11px; border-radius: 0.45rem; padding: .375rem .65rem; }
	.download-btn i { font-size: 16px; }
	.website-listing { max-width: 375px; }
	.website-logo { max-width: 150px; }
	.view-btn button { width: 140px; font-size: 10px; padding: 9px 10px; background-size: 20px; }
	.view-btn button.sent-contact-btn { font-size: 13px; background-size: 18px; }
	.app-page .content-section { padding: 0px 0px 135px 0px; margin: auto; }
	.app .view-btn a { width: 136px; }
	.app .view-btn a:first-child { margin-right: 8px; }
	.app .view-btn a:last-child { margin-left: 8px; }
	.app .website-logo { margin: 0.5rem auto 2rem; }
	.app .website-list { padding-bottom: 25px; }
	.case-studies .app-title { margin-left: 17px;  font-size: 20px; }
	.case-study-title { font-size: 20px; }
	.case-studies .view-btn a { font-size: 12px; padding: 11px 23px; min-width: 176px; }
	.case-studies .view-btn svg { width: 17px; margin-right: 15px; }
	.case-studies .website-list { margin: 20px 30px; padding: 25px 10px; }
	.contact-btn { width: 70px; height: 70px; padding: 15px; }
  .menu-toggle::before { top: 32px; }
}
@media screen and (min-width: 425px) {
	.tsi-logo .ripple { padding-top: 65%; max-width: 65%; }
	.app-header-section .app-title { font-size: 20px; }
	.website-listing { max-width: 425px; }
	.website-logo { max-width: 180px; margin: 0 auto 1.5rem; }
	.view-btn button { width: 170px; font-size: 12px; padding: 10px; letter-spacing: 0.5px; }
	.view-btn button.sent-contact-btn{ width: 85px; font-size: 13px; background-position: center right 8px;}
	.view-btn button.sent-contact-btn:hover{background-position: center right 2px;}
	.app .view-btn a { width: 160px; }
	.app .view-btn a:first-child { margin-right: 10px; }
	.app .view-btn a:last-child { margin-left: 10px; }
	.case-studies .app-title { margin-left: 19px; }
	.case-studies .view-btn { margin-top: 30px; }
	.success-msg { font-size: 20px; }
}
@media screen and (min-width: 480px) {
	.app-header-section .app-title { font-size: 23px; }
	.website-listing { max-width: 480px; }
	.website-logo { max-width: 200px; margin: 0 auto 1.8rem; }
	.menu-toggle span { font-size: 13px; margin: 3px 0px; }
	.view-btn button { width: 190px; font-size: 13px; padding: 10px 15px; letter-spacing: 1px; }
	.view-btn button.sent-contact-btn{ width: 90px; font-size: 13px;background-position: center right 10px;}
	.view-btn button.sent-contact-btn:hover{background-position: center right 5px;}
	.content-section .view-btn button:last-child { margin-left: 10px; }
	.content-section .view-btn button:first-child { margin-right: 10px; }
	.download-btn i { font-size: 18px; margin-right: 9px; }
	.download-btn i.fa-download{ margin-right: 0;}
	.download-btn { font-size: 12px; border-radius: 0.45rem; padding: .5rem .8rem; }
	.download-btn a { padding: .6rem 1rem; font-size: 13px; }

	.app .view-btn a { width: 180px; }
	.app .view-btn a:first-child { margin-right: 10px; }
	.app .view-btn a:last-child { margin-left: 10px; }
	.app .website-logo { margin: 1rem auto 2.5rem; }
	.app .view-btn a { background-size: 20px; }
	.app .slick-dots { padding-top: 2rem; }

	.case-studies .app-title { margin-left: 20px; }
	.case-studies .view-btn svg { width: 20px; margin-right: 18px; }
	.case-studies .view-btn a { font-size: 13px; padding: 13px 27px; min-width: 198px; }
	.case-studies .view-btn { margin-top: 35px; }
	.case-study-title { font-size: 23px; }
	.case-studies .website-list { padding: 30px 10px; margin: 20px 25px; }
	.form-control { font-size: 15px; }
	.contact .form-group { margin-top: 1rem; margin-bottom: 1rem; }
	.contact .app-logo { max-width: 160px; }
	.contact .app-header-section .app-title { font-size: 25px; margin-top: 25px; }
	.contact .app-header-section { padding: 50px 20px 40px; }
	.content-section .error { font-size: 14px; }
	.tsi-logo img { max-width: 135px; }
	.tsi-logo .ripple { padding-top: 300px; max-width: 300px; }
	.tsi-logo-box:not(.no-animation) {min-height: 200px; margin-bottom: 50px; }
	.ts-logo-text { max-width: 250px; }
	.full-content-section{margin-top:50px;}
	.full-content-section img{max-width:100%;}
	.home .content-section, .engaging-section .links a { font-size: 18px; line-height: 32px; }
	.engaging-section .links a { font-size: 21px; line-height: 35px; }
	.engaging-section .links { max-width: 300px; }
	.success-msg { font-size: 22px; }
}
@media screen and (min-width: 480px) and (orientation:landscape) {
	.menu-contain {max-width: 75px; min-width: 75px;}
	.bottom-menu-items li span {white-space: normal; font-size: 14px;}
}
@media screen and (min-width: 768px) {
	.bottom-menu-items li span { font-size: 20px; }
	.menu-contain { min-width: 120px; }
	.bottom-menu-items li span { white-space: normal; }
	.home .flash-container { background-image: url('../images/homebackground-landscape.jpg'); }
}
.menu-section.open .flex-menu{
	/* scrollbar-visibility: hidden; */
	 /* <--- I wish we had this one !! */
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE 10+ */
}
.menu-section.open .flex-menu::-webkit-scrollbar {
    display: none; /* Safari and Chrome*/
}
.case-study-content-area p{margin-top:15px;}
.case-study-content-area, .case-study-content-area ul.caststudy-ul{text-align:justify;}
@media screen and (max-width: 375px) {
.home .engaging-section{display:none;}	
}
